<div class="row">
    <div class="col-6 border m-2">
        <div class="panel panel-default border-dark">
            <div class="panel-heading">
                <h4>Telephely kereső</h4>
            </div>
            <form class="panel-body" (ngSubmit)="onSearch()">
                <div class="row mt-2 ">
                    <div class="form-group col-6">
                        <label class="mb-2 form-control-label" for="filterNev">Telephely
                            név</label>
                        <input type="text" [(ngModel)]="telephely.nev"
                               class="form-control"
                               id="filterNev" name="filterNev"
                               placeholder="Telephely név">
                    </div>
                    <div class="form-group col-6">
                        <label class="mb-2 form-control-label" for="filterNev">Település
                            neve</label>
                        <input type="text" [(ngModel)]="telephely.telepules"
                               class="form-control"
                               id="filterTelepules" name="filterTelepules"
                               placeholder="Település neve">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="form-group col-6">
                        <label class="form-control-label"> Megyék</label>
                        <ng-select
                            [items]="megyeList"
                            bindLabel="megyenev"
                            bindValue="id"
                            name="megyeList"
                            [multiple]="false"
                            [closeOnSelect]="true"
                            [hideSelected]="true"
                            [(ngModel)]="megyeId">
                        </ng-select>
                    </div>
                    <div class="form-group col-6">
                        <label class="mb-2 form-control-label" for="filterNev">Cím</label>
                        <input type="text" [(ngModel)]="telephely.cim"
                               class="form-control"
                               id="filterCim" name="filterCim"
                               placeholder="Cím">
                    </div>
                </div>
                <div class="row mt-2">
                    <label class="form-control-label col-lg-12">Működés kezdete</label>
                    <div class="col-xs-12 col-12 col-md-4 form-group">
                        <input class="form-control"
                               [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                               [ngModelOptions]="{standalone: true}"
                               (bsValueChange)="mukodesDatumChange($event)" placement="right"
                               #drp="bsDaterangepicker" bsDaterangepicker
                               [(ngModel)]="bsRangeValue">
                    </div>
                    <div class="col-xs-12 col-12 col-md-3 form-group">
                        <button class="btn btn-success" (click)="drp.toggle()"
                                [attr.aria-expanded]="drp.isOpen">Date Range Picker
                        </button>
                    </div>
                </div>

                <div class="row mt-4 mb-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary mr-1" (click)="edit()">Új székhely</button>
                        <button type="reset" class="btn btn-secondary" (click)="clearSearch()">
                            <span>Keresési feltételek törlése</span>
                        </button>
                    </div>
                    <div class="col-6 text-right">
                        <button type="submit" class="btn btn-primary text-right">
                            <span>Keresés</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="table-wrapper">
    <ngx-datatable class="bootstrap"
                   [rows]="items"
                   [columnMode]="'force'"
                   [rowHeight]="auto"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [columns]="columns"
                   [externalPaging]="true"
                   [offset]="pageNumber"
                   [count]="totalItems"
                   [limit]="itemsPerPage"
                   [sortType]="'multi'"
                   (page)="loadPage($event)">
    </ngx-datatable>
    <ng-template #buttonTemplates let-row="row" let-value="value" let-i="index">
        <button type="button" class="btn btn-primary mr-1" (click)="edit(row)"> szerkesztés</button>
        <button type="button" class="btn btn-danger" (click)="delete(row)"> törlés</button>
    </ng-template>
</div>
