<div class="panel-body">
    <div class="row">
        <div class="col-6 border m-2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>Gép kereső</h4>
                </div>
                <form class="panel-body" (ngSubmit)="onSearch()">
                    <fieldset>
                        <div class="row mt-2 ">
                            <div class="form-group col-6">
                                <label class="mb-2 form-control-label" for="filterNev">Gép név</label>
                                <input type="text" [(ngModel)]="gep.nev"
                                       class="form-control"
                                       id="filterNev" name="filterNev"
                                       placeholder="Gép név">
                            </div>
                            <div class="form-group col-6">
                                <label class="form-control-label"> Márka</label>
                                <ng-select
                                    [items]="markaList"
                                    bindLabel="nev"
                                    bindValue="id"
                                    name="markaList"
                                    [multiple]="false"
                                    [closeOnSelect]="true"
                                    [hideSelected]="true"
                                    [(ngModel)]="markaId">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="form-group col-6">
                                <label class="form-control-label"> Gép típusa</label>
                                <ng-select
                                    [items]="geptipusList"
                                    bindLabel="nev"
                                    bindValue="id"
                                    name="geptipusList"
                                    [multiple]="false"
                                    [closeOnSelect]="true"
                                    [hideSelected]="true"
                                    [(ngModel)]="gepTipusId">
                                </ng-select>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-control-label">Telephely</label>
                                <ng-select
                                    [items]="telephelyList"
                                    bindLabel="nev"
                                    bindValue="id"
                                    name="telephelyList"
                                    [multiple]="false"
                                    [closeOnSelect]="true"
                                    [hideSelected]="true"
                                    [(ngModel)]="telephelyId">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="form-group col-6">
                                <label class="mb-2 form-control-label" for="filterUzemido">Üzemidő</label>
                                <input type="number" [(ngModel)]="gep.uzemIdo"
                                       class="form-control"
                                       id="filterUzemido" name="filterUzemido"
                                       placeholder="Üzemidő">
                            </div>
                            <div class="form-group col-6">
                                <label class="form-control-label">Gép státusza</label>
                                <ng-select
                                    bindValue="value"
                                    bindlabel="label"
                                    [items]="gepStatuszList"
                                    name="statuszList"
                                    [multiple]="false"
                                    [closeOnSelect]="true"
                                    [hideSelected]="true"
                                    [(ngModel)]="gep.statusz">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mt-4 mb-2">
                            <div class="col-6">
                                <button type="button" class="btn btn-primary mr-1" (click)="edit()">Új gép</button>
                                <button type="reset" class="btn btn-secondary" (click)="clearSearch()">
                                    <span>Keresési feltételek törlése</span>
                                </button>
                            </div>
                            <div class="col-6 text-right">
                                <button type="submit" class="btn btn-primary text-right">
                                    <span>Keresés</span>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="table-wrapper">
    <ngx-datatable class="bootstrap"
                   [rows]="items"
                   [columnMode]="'force'"
                   [rowHeight]="auto"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [columns]="columns"
                   [externalPaging]="true"
                   [offset]="pageNumber"
                   [count]="totalItems"
                   [limit]="itemsPerPage"
                   [sortType]="'multi'"
                   (page)="loadPage($event)">

    </ngx-datatable>
    <ng-template #buttonTemplates let-row="row" let-value="value" let-i="index">
        <button [hidden]="!dolgozhat(row)" type="button" class="btn btn-dark mr-1" (click)="startWork(row)"> munka</button>
        <button type="button" class="btn btn-primary mr-1" (click)="edit(row)"> szerkesztés</button>
        <button [hidden]="torolhet(row)" type="button" class="btn btn-danger" (click)="delete(row)"> törlés</button>
    </ng-template>
    <ng-template #gepStatuszTemplate let-row="row" let-value="value" let-i="index">
        <span>{{setStatuszLabel(row.statusz)}}</span>
    </ng-template>
</div>
