<div class="panel-body">
    <div class="row">
        <div class="col-6 border m-2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>Munka kereső</h4>
                </div>
                <form class="panel-body" (ngSubmit)="onSearch()">
                    <fieldset>
                        <div class="row mt-2 ">
                            <div class="form-group col-6">
                                <label class="form-control-label">Gép</label>
                                <ng-select
                                    [items]="gepList"
                                    bindLabel="nev"
                                    bindValue="id"
                                    name="gepList"
                                    [multiple]="false"
                                    [closeOnSelect]="true"
                                    [hideSelected]="true"
                                    [(ngModel)]="gepId">
                                </ng-select>
                            </div>
                            <div class="form-group col-6">
                                <label class="form-control-label">Munka státusz</label>
                                <ng-select
                                    [items]="munkaStatuszList"
                                    bindLabel="label"
                                    bindValue="value"
                                    name="munkaStatuszList"
                                    [multiple]="false"
                                    [closeOnSelect]="true"
                                    [hideSelected]="true"
                                    [(ngModel)]="munka.statusz">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="form-group col-6">
                                <label class="mb-2 form-control-label" for="filterMunkaido">Munkaidő</label>
                                <input type="text" [(ngModel)]="munka.munkaido"
                                       class="form-control"
                                       id="filterMunkaido" name="filterMunkaido">
                            </div>
                        </div>
                        <div class="row mt-4 mb-2">
                            <div class="col-6">
                                <button type="button" class="btn btn-primary mr-1" (click)="edit()">Új Munka</button>
                                <button type="reset" class="btn btn-secondary" (click)="clearSearch()">
                                    <span>Keresési feltételek törlése</span>
                                </button>
                            </div>
                            <div class="col-6 text-right">
                                <button type="submit" class="btn btn-primary text-right">
                                    <span>Keresés</span>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="table-wrapper">
    <ngx-datatable class="bootstrap"
                   [rows]="items"
                   [columnMode]="'force'"
                   [rowHeight]="auto"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [columns]="columns"
                   [externalPaging]="true"
                   [offset]="pageNumber"
                   [count]="totalItems"
                   [limit]="itemsPerPage"
                   [sortType]="'multi'"
                   (page)="loadPage($event)">
    </ngx-datatable>
    <ng-template #buttonTemplates let-row="row" let-value="value" let-i="index">
        <button [hidden]="munkaban(row)" type="button" class="btn btn-dark mr-1" (click)="munkaVege(row)"> munkamenet
            lezárása
        </button>
    </ng-template>
    <ng-template #munkaStatuszTemplate let-row="row">
        <span>{{setStatuszLabel(row.statusz)}}</span>
    </ng-template>
</div>
