<div class="panel-body">
    <div class="row">
        <div class="col-6 border m-2">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h4>Dolgozo kereső</h4>
                </div>
                <form class="panel-body" (ngSubmit)="onSearch()">
                    <fieldset>
                        <div class="row mt-2 ">
                            <div class="form-group col-6">
                                <label class="mb-2 form-control-label" for="filterNev">Dolgozó neve</label>
                                <input type="text" [(ngModel)]="dolgozo.vezetekNev"
                                       class="form-control"
                                       id="filterNev" name="filterNev"
                                       placeholder="Dolgozó neve">
                            </div>
                            <div class="form-group col-6">
                                <label class="form-control-label"> Beosztás</label>
                                <ng-select
                                    [items]="beosztasList"
                                    bindLabel="nev"
                                    bindValue="id"
                                    name="beosztasList"
                                    [multiple]="false"
                                    [closeOnSelect]="true"
                                    [hideSelected]="true"
                                    [(ngModel)]="beosztasId">
                                </ng-select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="form-group col-6">
                                <label class="form-control-label">Telephely</label>
                                <ng-select
                                    [items]="telephelyList"
                                    bindLabel="nev"
                                    bindValue="id"
                                    name="telephelyList"
                                    [multiple]="false"
                                    [closeOnSelect]="true"
                                    [hideSelected]="true"
                                    [(ngModel)]="telephelyId">
                                </ng-select>
                            </div>
                            <div class="form-group col-6">
                                <label class="mb-2 form-control-label" for="filterLakhely">Lakhely</label>
                                <input type="text" [(ngModel)]="dolgozo.lakhely"
                                       class="form-control"
                                       id="filterLakhely" name="filterLakhely"
                                       placeholder="Lakhely">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="form-group col-6 form-check custom-switch">
                                <input type="checkbox" name="dolgozik" [(ngModel)]="dolgozo.dolgozik" class="form-check-input">
                                <label class="form-check-label" for="dolgozik">Dolgozik</label>
                            </div>
                        </div>
                        <div class="row mt-4 mb-2">
                            <div class="col-6">
                                <button type="button" class="btn btn-primary mr-1" (click)="edit()">Új Dolgozó</button>
                                <button type="reset" class="btn btn-secondary" (click)="clearSearch()">
                                    <span>Keresési feltételek törlése</span>
                                </button>
                            </div>
                            <div class="col-6 text-right">
                                <button type="submit" class="btn btn-primary text-right">
                                    <span>Keresés</span>
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="table-wrapper">
    <ngx-datatable class="bootstrap"
                   [rows]="items"
                   [columnMode]="'force'"
                   [rowHeight]="auto"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [columns]="columns"
                   [externalPaging]="true"
                   [offset]="pageNumber"
                   [count]="totalItems"
                   [limit]="itemsPerPage"
                   [sortType]="'multi'"
                   (page)="loadPage($event)">
    </ngx-datatable>
    <ng-template #buttonTemplates let-row="row" let-value="value" let-i="index">
        <button type="button" class="btn btn-primary mr-1" (click)="edit(row)"> szerkesztés</button>
        <button type="button" class="btn btn-danger" (click)="delete(row)"> törlés</button>
    </ng-template>
    <ng-template #dolgozikTemplate let-row="row">
        <div class="form-check">
            <input type="checkbox" [(ngModel)]="row.dolgozik" disabled class="form-check-input" id="dolgozik">
        </div>
    </ng-template>
</div>
