<form name="editForm" role="form" novalidate (ngSubmit)="moveToMunka()" #editForm="ngForm">
    <div class="modal-lg">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Munka kezdése</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="form-control-label"> Dolgozók</label>
                <ng-select
                    [items]="dolgozoList"
                    bindLabel="dolgozoTeljesNeve"
                    required
                    name="dolgozoList"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [(ngModel)]="gep.dolgozo">
                </ng-select>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="submit" name="submit" [disabled]="editForm.form.invalid"
                    class="btn btn-primary">
                <span>Tovább</span>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="bsModalRef.hide()">
                <span>Cancel</span>
            </button>
        </div>
    </div>
</form>
