<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-lg">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Munka kezdése</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="form-control-label"> Gépek</label>
                <ng-select
                    [items]="gepList"
                    bindLabel="nev"
                    name="gepList"
                    [required]="!readOnly"
                    [disabled]="readOnly"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [(ngModel)]="munka.gep">
                </ng-select>
            </div>
            <div class="form-group">
                <label class="form-control-label"> Munka státusza</label>
                <ng-select
                    [items]="munkaStatuszList"
                    bindLabel="label"
                    bindValue="value"
                    name="munkaStatuszList"
                    [disabled]="readOnly"
                    [required]="!readOnly"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [(ngModel)]="munka.statusz">
                </ng-select>
            </div>
            <label [hidden]="readOnly" class="form-control-label" for="munkaido">Munka időtartama</label>
            <div class="form-group">
                <input type="number" class="form-control" id="munkaido" name="munkaido"
                       [hidden]="readOnly" [(ngModel)]="munka.munkaido"/>
            </div>
            <label class="form-control-label" for="munkaido">Munka leírása</label>
            <div class="form-group">
                <input type="text" required class="form-control" id="leiras" name="leiras"
                       [(ngModel)]="munka.leiras"/>
            </div>
        </div>

        <div class="modal-footer justify-content-between">
            <button type="submit" name="submit" [disabled]="editForm.form.invalid"
                    class="btn btn-primary">
                <span>Mentés</span>
            </button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">
                <span>Mégsem</span>
            </button>
        </div>
    </div>
</form>
