<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-lg">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Gép</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <label class="form-control-label" for="nev">Név</label>
            <div class="form-group">
                <input type="text" class="form-control" required id="nev" name="nev"
                       [(ngModel)]="gep.nev"/>
            </div>
            <div class="form-group">
                <label class="form-control-label"> Márka</label>
                <ng-select
                    [items]="markaList"
                    bindLabel="nev"
                    name="markaList"
                    required=""
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [(ngModel)]="gep.marka">
                </ng-select>
            </div>
            <div class="form-group">
                <label class="form-control-label"> Gép típusa</label>
                <ng-select
                    [items]="geptipusList"
                    bindLabel="nev"
                    name="gepTipusList"
                    required=""
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [(ngModel)]="gep.gepTipus">
                </ng-select>
            </div>
            <div class="form-group">
                <label class="form-control-label"> Státusz</label>
                <ng-select
                    [required]="!readOnly"
                    [disabled]="readOnly"
                    [items]="statuszList"
                    name="statuszList"
                    bindLabel="label"
                    bindValue="value"
                    [(ngModel)]="gep.statusz">
                </ng-select>
            </div>
            <div class="form-group">
                <label class="form-control-label"> Telephely</label>
                <ng-select
                    [items]="telephelyList"
                    bindLabel="nev"
                    required=""
                    name="telephelyList"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [(ngModel)]="gep.telephely">
                </ng-select>
            </div>
            <label class="form-control-label" for="suly">Súly</label>
            <div class="form-group">
                <input type="number" class="form-control" id="suly" name="suly"
                       [(ngModel)]="gep.suly"/>
            </div>
            <label class="form-control-label" for="uzemIdo">Üzemidő</label>
            <div class="form-group">
                <input type="number" class="form-control" id="uzemIdo" name="uzemIdo"
                     [required]="!readOnly" [disabled]="readOnly" [(ngModel)]="gep.uzemIdo"/>
            </div>
            <label class="form-control-label" for="gyartasEve">Gyártás éve</label>
            <div class="form-group">
                <input type="number" class="form-control" id="gyartasEve" name="gyartasEve"
                       [(ngModel)]="gep.gyartasEve"/>
            </div>
            <label class="form-control-label">Cég tulajdonába kerülés dátuma</label>
            <div class="form-group">
                <input type="text"
                       placeholder="Datepicker"
                       placement="right"
                       class="form-control"
                       [(ngModel)]="gep.cegTulajdona"
                       [ngModelOptions]="{standalone: true}"
                       [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                       bsDatepicker>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" name="submit" [disabled]="editForm.form.invalid"
                    class="btn btn-primary">
                <span>Mentés</span>
            </button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">
                <span>Mégsem</span>
            </button>
        </div>
    </div>
</form>
