<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-lg">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Telephely</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <label class="form-control-label" for="nev">Név</label>
            <div class="form-group">
                <input type="text" class="form-control" required id="nev" name="nev"
                       [(ngModel)]="telephely.nev"/>
            </div>
            <div class="form-group">
                <label class="form-control-label"> Megyék</label>
                <ng-select
                    required
                    [items]="megyeList"
                    bindLabel="megyenev"
                    name="megyeList"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [(ngModel)]="telephely.megye">
                </ng-select>
            </div>
            <label class="form-control-label" for="telepules">Település</label>
            <div class="form-group">
                <input type="text" class="form-control" required id="telepules" name="telepules"
                       [(ngModel)]="telephely.telepules"/>
            </div>
            <label class="form-control-label">Működés kezdete</label>
            <div class="form-group">
                <input type="text"
                       placeholder="Datepicker"
                       placement="right"
                       class="form-control"
                       [(ngModel)]="telephely.mukodesKezdete"
                       [ngModelOptions]="{standalone: true}"
                       [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                       bsDatepicker>
            </div>
            <label class="form-control-label" for="iranyitoszam">Irányítószám</label>
            <div class="form-group">
                <input type="text" class="form-control" id="iranyitoszam" name="iranyitoszam"
                       [(ngModel)]="telephely.iranyitoSzam"/>
            </div>
            <label class="form-control-label" for="cim">Cím</label>
            <div class="form-group">
                <input type="text" class="form-control" required id="cim" name="cim"
                       [(ngModel)]="telephely.cim"/>
            </div>
            <label class="form-control-label" for="telefonszam">Telefonszám</label>
            <div class="form-group">
                <input type="text" class="form-control" required id="telefonszam" name="telefonszam"
                       [(ngModel)]="telephely.telefonSzam"/>
            </div>
            <label class="form-control-label" for="email">Email cím</label>
            <div class="form-group">
                <input type="text" class="form-control" id="email" name="email"
                       [(ngModel)]="telephely.email"/>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" name="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
                <span>Mentés</span>
            </button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">
                <span>Mégsem</span>
            </button>
        </div>
    </div>
</form>
