<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-lg">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Dolgozó</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <label class="form-control-label" for="vezetekNev">Vezetéknév</label>
            <div class="form-group">
                <input type="text" class="form-control" required id="vezetekNev" name="vezetekNev"
                       [(ngModel)]="dolgozo.vezetekNev"/>
            </div>
            <label class="form-control-label" for="keresztNev">Keresztnév</label>
            <div class="form-group">
                <input type="text" class="form-control" required id="keresztNev" name="keresztNev"
                       [(ngModel)]="dolgozo.keresztNev"/>
            </div>
            <div class="form-group">
                <label class="form-control-label">Telepehely</label>
                <ng-select
                    required
                    [items]="telephelyList"
                    bindLabel="nev"
                    name="telephelyList"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [(ngModel)]="dolgozo.telephely">
                </ng-select>
            </div>
            <div class="form-group">
                <label class="form-control-label">Beosztás</label>
                <ng-select
                    required
                    [items]="beosztasList"
                    bindLabel="nev"
                    name="beosztasList"
                    [multiple]="false"
                    [closeOnSelect]="true"
                    [hideSelected]="true"
                    [(ngModel)]="dolgozo.beosztas">
                </ng-select>
            </div>
            <label class="form-control-label">Születési idő</label>
            <div class="form-group">
                <input type="text"
                       placeholder="Datepicker"
                       placement="right"
                       class="form-control"
                       [(ngModel)]="dolgozo.szulIdo"
                       [ngModelOptions]="{standalone: true}"
                       [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                       bsDatepicker>
            </div>
            <label class="form-control-label" for="lakhely">Lakhely</label>
            <div class="form-group">
                <input type="text" class="form-control" required id="lakhely" name="lakhely"
                       [(ngModel)]="dolgozo.lakhely"/>
            </div>

            <label class="form-control-label" for="iranyitoszam">Irányítószám</label>
            <div class="form-group">
                <input type="text" class="form-control" id="iranyitoszam" name="iranyitoszam"
                       [(ngModel)]="dolgozo.iranyitoSzam"/>
            </div>
            <label class="form-control-label" for="cim">Cím</label>
            <div class="form-group">
                <input type="text" class="form-control" required id="cim" name="cim"
                       [(ngModel)]="dolgozo.cim"/>
            </div>
            <label class="form-control-label" for="telefonszam">Telefon szám</label>
            <div class="form-group">
                <input type="text" class="form-control" required id="telefonszam" name="telefonszam"
                       [(ngModel)]="dolgozo.telefonSzam"/>
            </div>
            <label class="form-control-label">Munkaviszony kezdete</label>
            <div class="form-group">
                <input type="text"
                       placeholder="Datepicker"
                       placement="right"
                       class="form-control"
                       [(ngModel)]="dolgozo.munkaViszonyKezdete"
                       [ngModelOptions]="{standalone: true}"
                       [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                       bsDatepicker>
            </div>

        </div>
        <div class="modal-footer">
            <button type="submit" name="submit" [disabled]="editForm.form.invalid" class="btn btn-primary">
                <span>Mentés</span>
            </button>
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="bsModalRef.hide()">
                <span>Mégsem</span>
            </button>
        </div>
    </div>
</form>
