<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark">

    <!-- Navbar brand -->
    <a class="navbar-brand" routerLink="">KotlinApp</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item" dropdown>
                <a href id="basic-link" class="nav-link" dropdownToggle (click)="false"
                   aria-controls="nav-link-dropdown">Entitások</a>
                <ul id="dropdown-basic"  *dropdownMenu class="dropdown-menu"
                    role="menu" aria-labelledby="basic-link">
                    <li class="menuitem"><a class="dropdown-item" routerLink="telephely">Telephely</a></li>
                    <li class="menuitem"><a class="dropdown-item" routerLink="gep">Gép</a></li>
                    <li class="menuitem"><a class="dropdown-item" routerLink="dolgozo">Dolgozó</a></li>
                    <li class="menuitem"><a class="dropdown-item" routerLink="munka">Munka</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar-->
