<div class="table-wrapper">
    <ngx-datatable class="bootstrap"
                   [rows]="items"
                   [columnMode]="'force'"
                   [rowHeight]="auto"
                   [headerHeight]="50"
                   [footerHeight]="50"
                   [columns]="columns"
                   [externalPaging]="true"
                   [offset]="pageNumber"
                   [count]="totalItems"
                   [limit]="itemsPerPage"
                    (sort)="onSort($event)"
                   (page)="loadPage($event)">
    </ngx-datatable>
    <ng-template #buttonTemplates let-row="row" let-value="value" let-i="index">
    </ng-template>
</div>
